.hero-container {
  background-image: url(../images/hero-image.jpg);
  background-color: black;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.trending-image {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.trending-char-container {
  -webkit-box-shadow: 7px 6px 14px -6px rgba(209, 209, 209, 0.69);
  -moz-box-shadow: 7px 6px 14px -6px rgba(209, 209, 209, 0.69);
  box-shadow: 7px 6px 14px -6px rgba(209, 209, 209, 0.69);
  background-color: #eefefe;
  border-radius: 5px;
}
.trending-char-container:hover {
  -webkit-box-shadow: 8px 7px 6px -7px rgba(209, 209, 209, 0.69);
  -moz-box-shadow: 8px 7px 6px -7px rgba(209, 209, 209, 0.69);
  box-shadow: 8px 7px 6px -7px rgba(209, 209, 209, 0.69);
  background-color: #ddfefd;
  border-radius: 5px;
  cursor: pointer;
}
.trending-char-title {
  font-weight: 800;
  font-size: 24px;
}
.trending-char-alignment {
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  color: #fff;
}
.trending-char-power {
  font-size: 44px;
}
.search-results {
  position: absolute;
  width: 100%;
  background-color: white;
  border-color: black;
  border-width: 2px;
  z-index: 90;
  border-style: solid;
}
.remove-margin {
  margin: 0px !important;
}
.remove-padding {
  padding: 0px !important;
}
.form-container {
  background-color: #e4f4f7;
  border-radius: 5px;
}
.login-button-text {
  font-size: large;
}
.login-upper-header {
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
}
.login-upper-subtext {
  font-size: small;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #f1f1f1 inset;
  -webkit-box-shadow: 0 0 0px 1000px #f1f1f1 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.header {
  background-color: #f2f2e2;
}
